@property --p {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 10%;
  }
  @property --l {
	syntax: '<length>';
	inherits: false;
	initial-value: 10px;
  }
  @property --cblue {
	syntax: '<color>';
	inherits: false;
	initial-value: #1AAAFF;
  }

/*****************************************
Table Of Contents:

01. General Styles -done
02. Preloader -done
03. Navigation -done
04. Header -done
05. Modal Styling -done
06. Primary Use Cases -done
07. Why k0rdent? -done
08. New Frontiers -done
09. Disocver k0rdent Today -done
10. Basic Section Styles -done
11. Originated By Mirantis -done
12. Footer
13. Copyright
14. Back To Top Button
******************************************/

:root{
	--primary-color: #1AAAFF;
	--primary-color-lighten: #1AAAFF;
	--primary-gradient: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
	--navbar-color: #000;
	--super-dark-bg: url('../images/header-background.png') repeat;
	--dark-bg: linear-gradient(
		rgba(255, 255, 255, 0.025),
		rgba(255, 255, 255, 0.025)
	  ),
	  url('../images/header-background.png') repeat;
	--light-dark-bg: linear-gradient(
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05)
	  ),
	  url('../images/header-background.png') repeat;
  }
  
  
  
  /******************************/
  /*     01. General Styles     */
  /******************************/
  body,
  html {
	width: 100%;
	height: 100%;
  }
  body {
	background-color: black;
  }
  body, p {
	  color: #f1f1f8;
	  font: 300 16px "Overpass";
	  line-height: 1.7;
  }
  h1 {
	  color: #f1f1f8;
	  font: 700 2.5rem/2.875rem "Overpass";
  }
  h2 {
	  color: #f1f1f8;
	  font: 800 24px "Overpass";
  }
  h3 {
	  color: #f1f1f8;
	  font: 700 1.75rem/2.125rem "Overpass";
  }
  h4 {
	  color: #f1f1f8;
	  font: 700 1.375rem/1.75rem "Overpass";
  }
  h5 {
	  color: #f1f1f8;
	  font: 700 1.125rem/1.625rem "Overpass";
  }
  h6 {
	  color: #f1f1f8;
	  font: 700 1rem/1.5rem "Overpass";
  }
  a {
	color: #f1f1f8;
    background-image: linear-gradient(transparent calc(100% - 0.08rem), white 2px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0s;
    text-decoration: underline;
    text-underline-offset: 5px;
    &:hover {
      	background-size: 100% 100%;
      	transition: background-size 1s;
      	text-decoration: none;
      	background-color: transparent;
		cursor: pointer;
		color: #f1f1f8;
    }
  }
  .blue-btn {
	text-transform: uppercase;
    text-decoration: none;
    padding: 16px 36px;
    border-radius: 120px;
    font-weight: 900;
    background-color: transparent;
    color: black;
    transition: --cblue 0.7s,--p 0.5s,--l 0.5s;
    background: linear-gradient(90deg, var(--cblue) var(--p), #1AAAFF);
    &:hover {
	  transition: --cblue 0.7s,--p 0.5s,--l 0.5s;
      cursor: pointer;
      color: black !important;
      --cblue:white;
      --p:100%;
      --l:100%;
    }
  }
  .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
	@media(max-width: 576px) {
		margin-top: 20px;
	}
  }
  .fa-stack .fa-stack-1x {
    fill: #000;
	transition: all 0.2s ease;
  }
  .fa-stack .fa-stack-2x {
	fill: var(--primary-color);
	transition: all 0.2s ease;
  }
  .fa-stack:hover .fa-stack-1x {
	fill: #1AAAFF;
  }
  .fa-stack:hover .fa-stack-2x {
	fill: #fff;
  }
  /* end of general */

  /*************************/
  /*     02. Preloader     */
  /*************************/
  .spinner-wrapper {
	  position: fixed;
	  z-index: 999999;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: var(--light-dark-bg);
  }
  .spinner {
	  position: absolute;
	  top: 50%; /* centers the loading animation vertically one the screen */
	  left: 50%; /* centers the loading animation horizontally one the screen */
	  width: 3.75rem;
	  height: 1.25rem;
	  margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
	  text-align: center;
  }
  .spinner > div {
	  display: inline-block;
	  width: 1rem;
	  height: 1rem;
	  border-radius: 100%;
	  background-color: #fff;
	  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .spinner .bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
  }
  .spinner .bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
  }
  @-webkit-keyframes sk-bouncedelay {
	  0%, 80%, 100% { -webkit-transform: scale(0); }
	  40% { -webkit-transform: scale(1.0); }
  }
  @keyframes sk-bouncedelay {
	  0%, 80%, 100% {
		  -webkit-transform: scale(0);
		  -ms-transform: scale(0);
		  transform: scale(0);
	  } 40% {
		  -webkit-transform: scale(1.0);
		  -ms-transform: scale(1.0);
		  transform: scale(1.0);
	  }
  }
  /* end of preloader */
  
  /**************************/
  /*     03. Navigation     */
  /**************************/
  .fixed-top-above {
	  position: fixed;
	  top: 0px;
	  right: 0;
	  left: 0;
	  color: white;
	  z-index: 1200;
	  border-bottom: 0px !important;
	  .dropdown {
		  background-color: transparent;
		  height: 30px;
		  .dropdown-toggle {
			  background-color: transparent;
			  color: white; 
			  font-size: 12px; 
			  border: black; 
			  float: right; 
			  margin-right: 1rem;
			  padding-top: 10px;
			  outline: none;
		  }
		  .dropdown-menu {
			  z-index: 1200; 
			  right: 1rem;
			  left: auto !important;
			  top: 30px !important;
			  border: 1px solid #1AAAFF;
			  border-radius: 0px;
			  max-width: 170px;
			  transform: none !important;
			  will-change: unset !important;
			  padding-top: 24px;
			  padding-bottom: 24px;
			  margin-top: 0;
	  		  background-color: var(--navbar-color);
			  p, img {
				  display: inline;
			  }
			  img {
				  width: 25px;
			  }
			  .dropdown-item {
				background-image: none;
				color: #fff;
	  			text-decoration: none;
				  &:hover {
					  cursor: pointer;
					  background-color: var(--navbar-color);
					  p {
						  text-decoration: underline;
					  }
				  }
			  }
		  }
	  }
	  .dropdown:hover > .dropdown-menu {
		display: block; /* this makes the dropdown menu stay open while hovering it */
		min-width: auto;
	}
  }
  .navbar-custom {
	background-color: var(--navbar-color);
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 16px "Overpass";
	transition: all 0.2s ease;
	border-bottom: 1px solid #394867;
	.navbar-toggler {
		border: none;
		color: #fff;
		font-size: 2rem;
	}
	.navbar-brand {
		text-decoration: none;
		font-size: 12px;
		padding-top: 0px;
		background-image: none;
		span {
			opacity: 0.5;
		}
		p {
			font-size: 14px;
			margin-bottom: 0px;
			display: inline;
		}
		img {
			height: auto;
			max-width: 200px;
			display: inline;
			margin-bottom: 10px;
			margin-right: 24px;
			backface-visibility: hidden;
		}
	}
	.nav-item {
		padding-top : 5px;
		.nav-link {
			padding: 0 0.75rem 0 0.75rem;
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;
			border: 1px solid transparent;
			background-image: none;
			&:hover, &:active {
				color: var(--primary-color);
			}
		}
	  }
	  @media(min-width: 992px) {
		.fa-stack {
			margin-bottom: 0.1875rem;
		  	margin-left: 0.375rem;
		  	font-size: 1rem;
		}
		.fa-stack-2x {
			color: var(--primary-color);
			transition: all 0.2s ease;
		}
		.fa-stack-1x {
			color: black;
			transition: all 0.2s ease;
		}
		.fa-stack:hover .fa-stack-2x {
			color: #fff;
		}
		.fa-stack:hover .fa-stack-1x {
			color: var(--primary-color);
		}
	  }
	button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
		display: none;
	}
	button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
		display: inline-block;
	}
	button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
		display: none;
	}
	button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
		display: inline-block;
		margin-right: 0.125rem;
	}
  }
  /* end of navigation */
  
  /*********************/
  /*    04. Header     */
  /*********************/
  .header {
	position: relative;
	background: linear-gradient(to right, black, black), url('../images/aqua-blue-gradient-bg.png');
	background-position-x: 0%, 50%;
	background-size: 50% 100%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	overflow: hidden;
	.header-content {
		padding-top: 2rem;
		padding-bottom: 6rem;
		.text-container {
			margin-bottom: 3rem;
			h1 {
				margin-bottom: 0.5rem;
				font-size: 54px;
				line-height: 48px;
				.gradient {
				  background: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
				  background-clip: text;
				  -webkit-background-clip: text;
				  -webkit-text-fill-color: transparent;
				}
			}
		}
		.blue-col {
			p {
				color: black;
			}
		  }
	}
	.thumbnail {
		background-image: url("../images/k0rdent-overview-vid-thumb.png");
		display: flex;
		justify-content: center;
		height: 280px; 	
		background-size: cover;
	  }
	@media(min-width: 992px) {
		.text-container {
			margin-top: 6.5rem;
		}
		.header-content {
			text-align: left;
		}
	}
	@media(max-width: 992px) {
		background: linear-gradient(to right, black, black), url('../images/aqua-blue-gradient-bg.png');
		background-position-y: 0%, 50%;
		background-size: 100% 50%, 100% 100%;
		background-repeat: no-repeat, no-repeat;
		.header-content {
			padding-top: 9rem !important;
			padding-bottom: 2rem !important;
		}
		h1 {
			font-size: 40px !important;
		}
		.blue-col {
			padding-top: 3rem;
		}
	}
	@media(max-width: 576px) {
		.thumbnail {
			height: 210px;
		}
	}
  }
  /* end of header */

  /****************************/
  /*    05. Modal Styling     */
  /****************************/
  .play-button {
	background-color: transparent;
	border: none;
	outline: none !important;
  }
  .modal-content {
	background-color: transparent;
	border: none;
	.modal-header {
		border-bottom: none;
		.close {
			color: white;
			opacity: 1;
		}
	}
	.modal-body {
		height: 450px;
		iframe {
			height: 100%;
			width: 100%;
		}
		@media(max-width: 556px) {
			width: 100%;
			height: 250px;
		}
	}
  }
  /* end of modal styling */

  /***************************/
  /*  06. Primary Use Cases  */
  /***************************/
  .primary-use-cases {
	padding-top: 120px;
	padding-bottom: 120px;
	background: linear-gradient(104deg, #000 25%, #32343B 67.88%);
	text-align: left;
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 24px; 
		margin-top: 24px;
	}
	p {
		color: white;
		margin-top: 16px;
	}
	.row {
		text-align: center;
	}
   }
   /* end of primary use cases */
  
  /************************/
  /*   07. Why k0rdent?   */
  /************************/
  #why-k0rdent {
	h2 {
		font-size: 40px;
	}
  }
  /* end of why k0rdent */

  /************************/
  /*   08. New Frontiers  */
  /************************/
  .new-frontiers {
	padding: 120px 136px;
	@media(max-width: 576px) {
		padding: 120px 0px;

	}
	background: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
	p, h2, h3, h4, li {
		color: black;
	}
	h2 {
		font-size: 77px;
		font-weight: 700;
		line-height: 70.4px;
		margin-bottom: 18px;
		@media(max-width: 1200px) {
			font-size: 40px;
		}
	}
	h3 {
		font-size: 40px;
		font-weight: 800;
		line-height: 48px;
		@media(max-width: 1200px) {
			font-size: 24px;
		}
	}
	h4 {
		padding-bottom: 16px;
	}
	ul {
		padding-inline-start: 20px;
		li {
			padding-bottom: 16px;
		}
	}
	img {
		max-width: 100%;
		@media(min-width: 992px) {
			margin-top: -50px;
		}
		
	}
  }
  /* end of new frontiers */

  /********************************/
  /*  09. Discover k0rdent Today  */
  /********************************/
  .discover-k0rdent {
	padding: 120px 136px;
	background: black;
	h2 {
		font-size: 77px;
	}
	.top-row {
		text-align: center;
		justify-content: center;
	}
	@media(max-width:576px) {
		padding: 120px 0px;
		h2 {
			font-size: 60px;
		}
		.top-row {
			text-align: start;
		}
	}
  }
  /* end of discover k0rdent today */
  
  /******************************/
  /*  10. Basic Section Styles  */
  /******************************/
  .basic-1 {
	  padding: 120px 136px;
	  background: linear-gradient(104deg, #000 25%,  #32343B 67.88%);
	  p, h2, ul {
		margin-bottom: 18px;
	  }
	  h2 {
		font-size: 40px;
	  }
	  h3 {
		font-size: 24px;
		line-height: 1.3;
	  }
	  h3 {
		font-weight: 800;
		margin-bottom: 8px;
		font-size: 16px;
	  }
	  p {
		font-size: 16px;
	  }
	  ul {
		padding-inline-start: 20px;
	  }
	  img {
		width: 100%;
	  }
	  .caption {
		font-size: 12px;
		margin-top: 16px;
	  }
	  .top-row {
		text-align: center;
		justify-content: center;
	  }
	  .thumbnail-1 {
		background-image: url("../images/k0rdent-demo-1-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .thumbnail-2 {
		background-image: url("../images/k0rdent-demo-2-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .thumbnail-3 {
		background-image: url("../images/k0rdent-demo-3-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .thumbnail-4 {
		background-image: url("../images/k0rdent-demo-4-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .inner-row, .join-community-row {
		margin-top: 64px;
	  }
	  @media(max-width: 576px) {
		padding: 120px 0px;
		.thumbnail-1, .thumbnail-2, .thumbnail-3, .thumbnail-4 {
			height: 175px;
		}
		.top-row {
			text-align: start;
			.join-the-community {
				margin-bottom: 0px;
			}
		}
		.inner-row {
			margin-top: 0px;
		}
		h3 {
			margin-top: 40px;
		}
	  }
  }
  /* end of basic section styles */

  /********************************/
  /*  11. Originated By Mirantis  */
  /********************************/
  .originated-by-mirantis {
	padding-top: 40px;
	padding-bottom: 40px;
	background: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
	h2, img {
		display: inline;
	}
	h2 {
		font-size: 24px;
		color: black
	  }
	.text-container {
		text-align: center;
		padding: 0px;
	}
  }
  /* end of originated by mirantis */

  /**********************/
  /*     12. Footer     */
  /**********************/
  .footer {
	padding-top: 120px;
	background: black;
	.footer-col {
		margin-bottom: 2.25rem;
		h4 {
			margin-bottom: 1rem;
		}
		ul {
			padding-inline-start: 15px;
		}
		.media {
			display: list-item;
			margin-bottom: 8px;
			.media-body {
			margin-left: 0.625rem;
		}
		}
		
	}
	@media(max-width: 576px) {
		padding-top: 60px;
	}
  }
  /* end of footer */
  
  /*************************/
  /*     13. Copyright     */
  /*************************/
  .copyright {
	  padding-top: 1rem;
	  padding-bottom: 120px;
	  background: black;
	  text-align: center;
	  border-bottom-style: solid;
	  border-bottom-width: 10px;
	  border-image: linear-gradient(90deg, #1DA7FD, #08F5DA);
      border-image-slice: 1;
  }
  /* end of copyright */

  /**********************************/
  /*     14. Back To Top Button     */
  /**********************************/
  a.back-to-top {
	  position: fixed;
	  z-index: 999;
	  right: 0.75rem;
	  bottom: 0.75rem;
	  display: none;
	  width: 2.625rem;
	  height: 2.625rem;
	  border-radius: 1.875rem;
	  background: var(--primary-color) url("../images/up-arrow.png") no-repeat center 47%;
	  background-size: 1.125rem 1.125rem;
	  text-indent: -9999px;
  }
  a:hover.back-to-top {
	  background-color: var(--primary-color-lighten);
  }
  /* end of back to top button */

  /************************/
  /*     15. 404 Page     */
  /************************/
  .error-content {
	position: relative;
	background: linear-gradient(to right, black, black), url('../images/lost-in-space.png');
	background-position-y: 0%, 0%;
	background-position-x: 0%, 100%;
	background-size: 60%, 50%;
	background-repeat: no-repeat, no-repeat;
	overflow: hidden;
	.row {
		margin-top: 7rem;
		padding: 200px 0px;
		h1 {
			font-size: 77px;
			line-height: 70.4px;
			margin-bottom: 24px;
		}
		h2 {
			font-size: 40px;
			margin-bottom: 40px;
		}
		p, h1 {
			color: white;
		}
	}
	@media(min-width: 992px) and (max-width: 1300px) {
		background-size: 60%, 70%;
	}
	@media(max-width: 992px) {
		background-position-y: 50%, 100%;
		background-position-x: 0%, 60%;
		background-size: 0%, 150%;
		.row {
			padding: 50px 0px;
		}
	}
  }