@property --p {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 10%;
  }
  @property --l {
	syntax: '<length>';
	inherits: false;
	initial-value: 10px;
  }
  @property --cblue {
	syntax: '<color>';
	inherits: false;
	initial-value: #1AAAFF;
  }

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Features
06. Video
07. Details 1
08. Details 2
09. Details Lightboxes
10. Screenshots
11. Download
12. Statistics
13. Contact
14. Footer
15. Copyright
16. Back To Top Button
17. Extra Pages
18. Media
******************************************/

:root{
	--primary-color: #1AAAFF;
	--primary-color-lighten: #1AAAFF;
	--primary-gradient: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
	--navbar-color: #000;
	--super-dark-bg: url('../images/header-background.png') repeat;
	--dark-bg: linear-gradient(
		rgba(255, 255, 255, 0.025),
		rgba(255, 255, 255, 0.025)
	  ),
	  url('../images/header-background.png') repeat;
	--light-dark-bg: linear-gradient(
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05)
	  ),
	  url('../images/header-background.png') repeat;
  }
  
  
  
  /******************************/
  /*     01. General Styles     */
  /******************************/
  
  body,
  html {
	width: 100%;
	height: 100%;
  }
  
  body, p {
	  color: #f1f1f8;
	  font: 300 16px "Overpass";
	  line-height: 1.7;
  }
  h1 {
	  color: #f1f1f8;
	  font: 700 2.5rem/2.875rem "Overpass";
  }
  
  h2 {
	  color: #f1f1f8;
	  font: 800 24px "Overpass";
  }
  
  h3 {
	  color: #f1f1f8;
	  font: 700 1.75rem/2.125rem "Overpass";
  }
  
  h4 {
	  color: #f1f1f8;
	  font: 700 1.375rem/1.75rem "Overpass";
  }
  
  h5 {
	  color: #f1f1f8;
	  font: 700 1.125rem/1.625rem "Overpass";
  }
  
  h6 {
	  color: #f1f1f8;
	  font: 700 1rem/1.5rem "Overpass";
  }
  
  a {
	color: #f1f1f8;
    background-image: linear-gradient(transparent calc(100% - 0.08rem), white 2px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0s;
    text-decoration: underline;
    text-underline-offset: 5px;
    &:hover {
      	background-size: 100% 100%;
      	transition: background-size 1s;
      	text-decoration: none;
      	background-color: transparent;
		cursor: pointer;
		color: #f1f1f8;
    }
  }

  .blue-btn {
	text-transform: uppercase;
    text-decoration: none;
    padding: 16px 36px;
    border-radius: 120px;
    font-weight: 900;
    background-color: transparent;
    color: black;
    transition: --cblue 0.7s,--p 0.5s,--l 0.5s;
    background: linear-gradient(90deg, var(--cblue) var(--p), #1AAAFF);
    &:hover {
	  transition: --cblue 0.7s,--p 0.5s,--l 0.5s;
      cursor: pointer;
      color: black !important;
      --cblue:white;
      --p:100%;
      --l:100%;
    }
    &:active {
      background-color: $medium-carbon;
      border-color: $medium-carbon;
    }
  }

  /*************************/
  /*     02. Preloader     */
  /*************************/
  .spinner-wrapper {
	  position: fixed;
	  z-index: 999999;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: var(--light-dark-bg);
  }
  
  .spinner {
	  position: absolute;
	  top: 50%; /* centers the loading animation vertically one the screen */
	  left: 50%; /* centers the loading animation horizontally one the screen */
	  width: 3.75rem;
	  height: 1.25rem;
	  margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
	  text-align: center;
  }
  
  .spinner > div {
	  display: inline-block;
	  width: 1rem;
	  height: 1rem;
	  border-radius: 100%;
	  background-color: #fff;
	  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	  0%, 80%, 100% { -webkit-transform: scale(0); }
	  40% { -webkit-transform: scale(1.0); }
  }
  
  @keyframes sk-bouncedelay {
	  0%, 80%, 100% {
		  -webkit-transform: scale(0);
		  -ms-transform: scale(0);
		  transform: scale(0);
	  } 40% {
		  -webkit-transform: scale(1.0);
		  -ms-transform: scale(1.0);
		  transform: scale(1.0);
	  }
  }
  
  
  /**************************/
  /*     03. Navigation     */
  /**************************/
  .fixed-top-above {
	  position: fixed;
	  top: 0px;
	  right: 0;
	  left: 0;
	  color: white;
	  z-index: 1200;
	  border-bottom: 0px;
	  .dropdown {
		  background-color: transparent;
		  height: 30px;
		  .dropdown-toggle {
			  background-color: transparent;
			  color: white; 
			  font-size: 12px; 
			  border: black; 
			  float: right; 
			  margin-right: 5rem;
			  padding-top: 10px;
			  outline: none;
		  }
		  .dropdown-menu {
			  z-index: 1200; 
			  right: 5rem;
			  left: auto !important;
			  top: 30px !important;
			  border: 1px solid #1AAAFF;
			  border-radius: 0px;
			  max-width: 170px;
			  transform: none !important;
			  will-change: unset !important;
			  padding-top: 24px;
			  padding-bottom: 24px;
			  p, img {
				  display: inline;
			  }
			  img {
				  width: 25px;
			  }
			  .dropdown-item {
				background-image: none;
				  &:hover {
					  cursor: pointer;
					  p {
						  text-decoration: underline;
					  }
				  }
			  }
		  }
	  }
	  .dropdown:hover > .dropdown-menu {
		display: block; /* this makes the dropdown menu stay open while hovering it */
		min-width: auto;
	}
  }
  
  
  .navbar-custom {
	  background-color: var(--navbar-color);
	  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	  font: 700 16px "Overpass";
	  transition: all 0.2s ease;
	  .navbar-brand {
		text-decoration: none;
		font-size: 12px;
		padding-top: 0px;
		background-image: none;
		span {
			opacity: 0.5;
		}
		p {
			font-size: 14px;
			margin-bottom: 0px;
			display: inline;
		}
		img {
			height: auto;
			max-width: 200px;
			display: inline;
			margin-bottom: 10px;
			margin-right: 24px;
			backface-visibility: hidden;
		}
	  }
	  .nav-item {
		padding-top : 5px;
		.nav-link {
			padding: 0 0.75rem 0 0.75rem;
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;
			border: 1px solid transparent;
			background-image: none;
			&:hover, &:active {
				color: var(--primary-color);
			}
		}
	  }
	  @media(min-width: 992px) {
		.fa-stack {
			margin-bottom: 0.1875rem;
		  	margin-left: 0.375rem;
		  	font-size: 1rem;
		}
	  }
  }
  .navbar-custom .dropdown-menu {
	  margin-top: 0;
	  border: none;
	  border-radius: 0.25rem;
	  background-color: var(--navbar-color);
  }
  
  .navbar-custom .dropdown-item {
	  color: #fff;
	  text-decoration: none;
  }
  
  .navbar-custom .dropdown-item:hover {
	  background-color: var(--navbar-color);
  }
  
  .navbar-custom .dropdown-item .item-text {
	  font: 700 0.75rem/1.5rem "Overpass";
  }
  
  .navbar-custom .dropdown-item:hover .item-text {
	  color: var(--primary-color);
  }
  
  .navbar-custom .dropdown-items-divide-hr {
	  width: 100%;
	  height: 1px;
	  margin: 0.25rem auto 0.25rem auto;
	  border: none;
	  background-color: #b5bcc4;
	  opacity: 0.2;
  }
  /* end of dropdown menu */
  
  .navbar-custom .social-icons {
	  display: none;
  }
  
  .navbar-custom .navbar-toggler {
	  border: none;
	  color: #fff;
	  font-size: 2rem;
  }
  
  .navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	  display: none;
  }
  
  .navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	  display: inline-block;
  }
  
  .navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	  display: none;
  }
  
  .navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	  display: inline-block;
	  margin-right: 0.125rem;
  }
  
  
  /*********************/
  /*    04. Header     */
  /*********************/
  .header {
	position: relative;
	background: linear-gradient(to right, black, black), url('../images/aqua-blue-gradient-bg.png');
	background-position-x: 0%, 50%;
	background-size: 50% 100%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	overflow: hidden;
	.thumbnail {
		background-image: url("../images/k0rdent-overview-vid-thumb.png");
		display: flex;
		justify-content: center;
		height: 280px; 	
		background-size: cover;
	  }
	@media(min-width: 992px) {
		.text-container {
			margin-top: 6.5rem;
		}
		.header-content {
			text-align: left;
		}
	}
	@media(max-width: 992px) {
		background: linear-gradient(to right, black, black), url('../images/aqua-blue-gradient-bg.png');
		background-position-y: 0%, 50%;
		background-size: 100% 50%, 100% 100%;
		background-repeat: no-repeat, no-repeat;
		.header-content {
			padding-top: 9rem !important;
			padding-bottom: 2rem !important;
		}
		h1 {
			font-size: 40px !important;
		}
		.blue-col {
			padding-top: 3rem;
		}
	}
	@media(max-width: 576px) {
		.thumbnail {
			height: 210px;
		}
	}
  }
  
  .header .header-content {
	  padding-top: 2rem;
	  padding-bottom: 6rem;
  }
  
  .header .text-container {
	  margin-bottom: 3rem;
  }
  
  .header h1 {
	  margin-bottom: 0.5rem;
	  font-size: 54px;
	  line-height: 48px;
	  .gradient {
		background: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	  }
  }
  
  .header #js-rotating {
	  color: var(--primary-color);
	  min-height: 157.5px;
  }
  
  .header .p-large {
	  margin-bottom: 2rem;
  }
  
  .header .btn-solid-lg {
	  margin-bottom: 1.25rem;
  }
  
  .header .release-notes{
	position: relative;
	left: 10px;
  }
  
  .header .supported-os-icon {
	position: relative;
	top: 5px;
	font-size: 30px;
	margin-left: 10px;
	color: rgba(255,255,255,0.5);
  }

  .header .blue-col {
	p {
		color: black;
	}
	a {
		color: black;
		background-image: linear-gradient(transparent calc(100% - 0.08rem), black 2px);
	}
  }

 /****************************/
  /*     Modal Styling    */
  /****************************/
  .play-button {
	background-color: transparent;
	border: none;
	outline: none !important;
  }
  .modal-content {
	background-color: transparent;
	border: none;
	.modal-header {
		border-bottom: none;
		.close {
			color: white;
			opacity: 1;
		}
	}
	.modal-body {
		height: 450px;
		iframe {
			height: 100%;
			width: 100%;
		}
		@media(max-width: 556px) {
			width: 100%;
			height: 250px;
		}
	}
  }

  
  /************************/
  /*     05. Features     */
  /************************/
  #features {
	h2 {
		font-size: 40px;
	}
  }

  
  
  /*********************/
  /*     06. Video     */
  /*********************/
  .basic-1 {
	  padding-top: 120px;
	  padding-bottom: 120px;
	  background: linear-gradient(104deg, #000 25%, #32343B 67.88%);
  }
  
  .basic-1 h2 {
	  margin-bottom: 1.125rem;
	  text-align: center;
	  font-size: 40px;
  }
  
  .basic-1 .p-heading {
	  margin-bottom: 4rem;
	  text-align: center;
  }
  
  .basic-1 .image-container img {
	  border-radius: 0.375rem;
  }
  
  .basic-1 .video-wrapper {
	position: relative;
	text-align: center;
  }
  
  /* Video Play Button */
  .basic-1 .video-play-button {
	  position: absolute;
	  z-index: 10;
	  top: 50%;
	  left: 50%;
	  display: block;
	  box-sizing: content-box;
	  width: 2rem;
	  height: 2.75rem;
	  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	  border-radius: 50%;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  -ms-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
  }
  
  .basic-1 .video-play-button:before {
	  content: "";
	  position: absolute;
	  z-index: 0;
	  top: 50%;
	  left: 50%;
	  display: block;
	  width: 4.75rem;
	  height: 4.75rem;
	  border-radius: 50%;
	  background: #4eaaff;
	  animation: pulse-border 1500ms ease-out infinite;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  -ms-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
  }
  
  .basic-1 .video-play-button:after {
	  content: "";
	  position: absolute;
	  z-index: 1;
	  top: 50%;
	  left: 50%;
	  display: block;
	  width: 4.375rem;
	  height: 4.375rem;
	  border-radius: 50%;
	  background: #4eaaff;
	  transition: all 200ms;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  -ms-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
  }
  
  .basic-1 .video-play-button span {
	  position: relative;
	  display: block;
	  z-index: 3;
	  top: 0.375rem;
	  left: 0.25rem;
	  width: 0;
	  height: 0;
	  border-left: 1.625rem solid #fff;
	  border-top: 1rem solid transparent;
	  border-bottom: 1rem solid transparent;
  }
  
  @keyframes pulse-border {
	  0% {
		  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		  opacity: 1;
	  }
	  100% {
		  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		  opacity: 0;
	  }
  }
  /* end of video play button */

  /*************************/
  /* Discover k0rdent Today */
  /*************************/
  .discover-k0rdent {
	padding: 120px 136px;
	background: black;
	h2 {
		font-size: 77px;
	}
	.top-row {
		text-align: center;
		justify-content: center;
	}
	@media(max-width:576px) {
		padding: 120px 0px;
		h2 {
			font-size: 60px;
		}
		.top-row {
			text-align: start;
		}
	}
  }
  
  /*************************/
  /*     07. Details 1     */
  /*************************/
  .basic-3 {
	  padding: 120px 136px;
	  background: linear-gradient(104deg, #000 25%,  #32343B 67.88%);
	  p, h2, ul {
		margin-bottom: 18px;
	  }
	  h2 {
		font-size: 40px;
	  }
	  h3 {
		font-size: 24px;
		line-height: 1.3;
	  }
	  ul {
		padding-inline-start: 20px;
	  }
	  h3 {
		font-weight: 800;
		margin-bottom: 8px;
		font-size: 16px;
	  }
	  img {
		width: 100%;
	  }
	  .caption {
		font-size: 12px;
		margin-top: 16px;
	  }
	  .top-row {
		text-align: center;
		justify-content: center;
	  }
	  .thumbnail-1 {
		background-image: url("../images/k0rdent-demo-1-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .thumbnail-2 {
		background-image: url("../images/k0rdent-demo-2-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .thumbnail-3 {
		background-image: url("../images/k0rdent-demo-3-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .thumbnail-4 {
		background-image: url("../images/k0rdent-demo-4-thumb.png");
		display: flex;
		justify-content: center;
		height: 134px;
		background-size: cover;
	  }
	  .inner-row, .join-community-row {
		margin-top: 64px;
	  }
	  @media(max-width: 576px) {
		padding: 120px 0px;
		.thumbnail-1, .thumbnail-2, .thumbnail-3, .thumbnail-4 {
			height: 175px;
		}
		.top-row {
			text-align: start;
			.join-the-community {
				margin-bottom: 0px;
			}
		}
		.inner-row {
			margin-top: 0px;
		}
		h3 {
			margin-top: 40px;
		}
	  }
  }
  
  
  .basic-3 p{
	font-size: 16px;
  }
  

  
  .basic-3 .feature{
	padding: 40px 0;
  }

  .basic-3 hr {
	width: 70%;
	border-top: 1px solid #B3B6C3;
	margin-top: 0px;
	margin-bottom: 0px;
	@media(max-width: 768px) {
		width: 100%;
	}
  }
  
  .basic-3 .feature:last-of-type {
	border-bottom: none;
  }
  
  .basic-3 .feature .feature-title{
	text-align: right;
  }
  .basic-3 .source-code .feature-title {
	@media(max-width: 768px) {
		text-align: left;
		margin-bottom: 12px;
	}
  }

  
  .basic-3 .feature .feature-title .name{
	font-weight: 800;
	color: white;
  }
  
  .basic-3 .feature .feature-value ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  .basic-3 .feature .feature-value ul li.label-value{
	text-decoration: underline;
	margin-top: 20px;
  }

  .basic-3 .feature .feature-value ul li{
	margin-bottom: 8px;
  }

  .basic-3 .feature .feature-value ul li .value{
	line-height: 1.4;
  }

  .basic-3 .feature .feature-value ul li:last-of-type{
	margin-bottom: 0px;
  }
  
  .basic-3 .feature .feature-value ul li.label-value:first-of-type{
	margin-top:0;
  }
  
   /************************/
  /*     New Frontiers     */
  /************************/
  .new-frontiers {
	padding: 120px 136px;
	@media(max-width: 576px) {
		padding: 120px 0px;

	}
	background: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
	p, h2, h3, h4, li {
		color: black;
	}
	h2 {
		font-size: 77px;
		font-weight: 700;
		line-height: 70.4px;
		margin-bottom: 18px;
		@media(max-width: 1200px) {
			font-size: 40px;
		}
	}
	h3 {
		font-size: 40px;
		font-weight: 800;
		line-height: 48px;
		@media(max-width: 1200px) {
			font-size: 24px;
		}
	}
	h4 {
		padding-bottom: 16px;
	}
	ul {
		padding-inline-start: 20px;
		li {
			padding-bottom: 16px;
		}
	}
	img {
		max-width: 100%;
		@media(min-width: 992px) {
			margin-top: -50px;
		}
		
	}
  }
 
  .basic-4 {
	  padding-top: 40px;
	  padding-bottom: 40px;
	  background: linear-gradient(90deg, #1DA7FD 0%, #08F5DA 100%);
	  h2, img {
		display: inline;
	  }
  }
  
  .basic-4 .text-container {
	  text-align: center;
	  padding: 0px;
  }
  
  .basic-4 h2 {
	font-size: 24px;
	color: black
  }
  
  .basic-4 .p-large {
	  margin-bottom: 1.75rem;
  }
  
  .basic-4 .btn-solid-lg {
	  margin-bottom: 1.25rem;
  }
  
  .basic-4 .release-notes{
	position: relative;
	left: 10px;
  }
  
  .basic-4 .supported-os-icon {
	position: relative;
	top: 5px;
	font-size: 30px;
	margin-left: 10px;
	color: rgba(255,255,255,0.5);
  }
  
  .basic-4 .image-caption{
	text-align: center;
	margin: 10px;
  }
  
  /**************************/
  /*     12. Overview       */
  /**************************/
  .overview {
	  padding-top: 120px;
	  padding-bottom: 120px;
	  background: linear-gradient(104deg, #000 25%, #32343B 67.88%);
	  text-align: left;
  }
  
  .overview p{
	color: white;
  }
  
  
  /***********************/
  /*     13. Contact     */
  /***********************/
  .form {
	  padding-top: 6.25rem;
	  padding-bottom: 5.625rem;
	  background: url('../images/contact-background.jpg') center bottom no-repeat;
	  background-size: cover;
  }
  
  .form h2 {
	  margin-bottom: 1.125rem;
	  text-align: center;
  }
  
  .form .list-unstyled {
	  margin-bottom: 3.75rem;
	  font-size: 1rem;
	  line-height: 1.5rem;
	  text-align: center;
  }
  
  .form .list-unstyled .fas,
  .form .list-unstyled .fab {
	  margin-right: 0.5rem;
	  font-size: 0.875rem;
	  color: var(--primary-color);
  }
  
  .form .list-unstyled .fa-phone {
	  vertical-align: 3%;
  }
  
  
  /**********************/
  /*     14. Footer     */
  /**********************/
  .footer {
	  padding-top: 120px;
	  background: black;
	  ul {
		  padding-inline-start: 15px;
	  }
	  @media(max-width: 576px) {
		padding-top: 60px;
	  }
  }
  
  .footer .footer-col {
	  margin-bottom: 2.25rem;
  }
  
  .footer h4 {
	  margin-bottom: 1rem;
  }
  
  .footer .list-unstyled .fas {
	  color: var(--primary-color);
	  font-size: 0.5rem;
	  line-height: 1.375rem;
  }
  
  .footer .media {
	  display: list-item;
	  margin-bottom: 8px;
  }
  
  .footer .media-body {
	  margin-left: 0.625rem;
  }

.fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
	@media(max-width: 576px) {
		margin-top: 20px;
	}
}

.fa-stack .fa-stack-1x {
  fill: #000;
	transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
	fill: var(--primary-color);
	transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
	fill: #1AAAFF;
}

.fa-stack:hover .fa-stack-2x {
	fill: #fff;
}
  
  
  /*************************/
  /*     15. Copyright     */
  /*************************/
  .copyright {
	  padding-top: 1rem;
	  padding-bottom: 120px;
	  background: black;
	  text-align: center;
	  border-bottom-style: solid;
	  border-bottom-width: 10px;
	  border-image: linear-gradient(90deg, #1DA7FD, #08F5DA);
      border-image-slice: 1;
  }

  /**********************************/
  /*     16. Back To Top Button     */
  /**********************************/
  a.back-to-top {
	  position: fixed;
	  z-index: 999;
	  right: 0.75rem;
	  bottom: 0.75rem;
	  display: none;
	  width: 2.625rem;
	  height: 2.625rem;
	  border-radius: 1.875rem;
	  background: var(--primary-color) url("../images/up-arrow.png") no-repeat center 47%;
	  background-size: 1.125rem 1.125rem;
	  text-indent: -9999px;
  }
  
  a:hover.back-to-top {
	  background-color: var(--primary-color-lighten);
  }
  

  /*****************************/
  /*     18. Media Queries     */
  /*****************************/

  
  
  /* Min-width width 992px */
  @media (min-width: 992px) {
  
	  .navbar-custom .fa-stack {
		  
	  }
  
	  .navbar-custom .fa-stack-2x {
		  color: var(--primary-color);
		  transition: all 0.2s ease;
	  }
  
	  .navbar-custom .fa-stack-1x {
		  color: black;
		  transition: all 0.2s ease;
	  }
  
	  .navbar-custom .fa-stack:hover .fa-stack-2x {
		  color: #fff;
	  }
  
	  .navbar-custom .fa-stack:hover .fa-stack-1x {
		  color: var(--primary-color);
	  }
	  /* end of navigation */
  
	}